/* error page styles */

body {
    font-family: 'Arial', sans-serif;
    background-image: url("./bg.png");
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #e74c3c;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #2980b9;
}